<!-- app/views/empleados/edit.html.erb -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<h1>Editar Empleado</h1>

<%= form_with(model: @empleado, url: empleado_path(@empleado), method: :patch) do |form| %>
  <% if @empleado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empleado.errors.count, "error") %> prohibieron que este empleado sea actualizado:</h2>
      <ul>
      <% @empleado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :primerNombre %>
    <%= form.text_field :primerNombre %>
  </div>
  
    <div class="field">
    <%= form.label :segundoNombre %>
    <%= form.text_field :segundoNombre %>
  </div>

   <div class="field">
    <%= form.label :apellidoPaterno %>
    <%= form.text_field :apellidoPaterno %>
  </div>

   <div class="field">
    <%= form.label :apellidoMaterno %>
    <%= form.text_field :apellidoMaterno %>
  </div>

  <div class="field">
    <%= form.label :correo %>
    <%= form.email_field :correo %>
  </div>
  
  <div class="field">
    <%= form.label :telefono %>
    <%= form.text_field :telefono %>
  </div>

  <div class="field">
    <%= form.label :puesto %>
    <%= form.text_field :puesto %>
  </div>

  <div class="field">
    <%= form.label :fechaContratacion %>
    <%= form.datetime_field :fechaContratacion %>
  </div>
  <div class="actions">
    <%= form.submit 'Actualizar Empleado' %>
  </div>
<% end %>
